<p id="notice"><%= notice %></p>

<h1>
  <%= @beer_club.name %>
</h1>

<p>
  Founded <%= @beer_club.founded %> |
  <%= @beer_club.city %>
</p>

<h2>
	Memebers
</h2>

<ul>
	<% @beer_club.memberships.each do |mship| %>
	   <li>
	   	   <%= link_to mship.user, mship.user %>
	   </li>
	<% end %>
</ul>
<br><br>


<% if current_user %>
<% if @beer_club.memberships - current_user.memberships == @beer_club.memberships || @beer_club.memberships.empty? %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"Join the Club" %>
  <% end %>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user %>
<%= "|" if current_user %>
<%= link_to 'Back', beer_clubs_path %>
<%= "|" if current_is_admin %>
<%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } if current_is_admin %>
