<h1>
  <%= @user.username %>
</h1>

<p> has rated
	<%= pluralize(@user.ratings.count, 'beer')%>
    <% if not @user.ratings.empty? %>
     (average <%= @user.average_rating %>)
    <% end %>
</p>

<p>
  Favourite beer: <%= @user.favourite_beer %>. <br>
  Favourite style: <%= @user.favourite_style %>. <br>
  Favourite brewery: <%= @user.favourite_brewery %>.
</p>

<br>

<h2>
	<%= @user.username %>'s ratings
</h2>

<ul>
    <% @user.ratings.each do |rating| %>
      <li> 
        <%= rating %> 
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete %> 
        <% end %>
      </li>
    <% end %>
</ul>

<br>

<h2>
	<%= @user.username %>'s memberships
</h2>

<ul>
	<% @user.memberships.each do |mship| %>
	   <li>
	   	   <%= link_to mship.beer_club, mship.beer_club %>
	   </li>
	<% end %>
</ul>



<%= link_to 'Back', users_path, class:"btn btn-info white-text" %>
<% if @user == current_user || current_is_admin %>
  |
  <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary white-text" %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger white-text" %>
<% end %>
