<h1>Ratings</h1>

<p>
	Number of ratings <%= @ratings.count %>
</p>

<h3> Most recent ratings</h3>

<%= render 'recentlist', ratings: @recent_ratings %>

<div class="row">

  <div class="col-md-6">
    <h3> Top Beers</h3>
    <%= render 'topbeerlist', beers: @top_beers %>
  </div>

  <div class="col-md-6">
    <h3> Top Breweries</h3>
    <%= render 'topbrewerylist', breweries: @top_breweries %>
  </div>

  <div class="col-md-6">
    <h3> Top Styles</h3>
    <%= render 'topstyleslist', styles: @top_styles %>
  </div>

  <div class="col-md-6">
    <h3> Top Raters</h3>
    <%= render 'topraterslist', users: @top_raters %>
  </div>
  
</div>

