<h1><%= @style %></h1>

<p>
	<%= @style.description %>
</p>

<h2>Beers</h2>

<ul>
    <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery, beer.brewery %></li>
    <% end %>
</ul>


<%= link_to 'Back', styles_path, class:"btn white-text btn-info" %>
<%= "|" if current_is_admin %>
<%= edit_and_destroy_buttons(@style) %>