<h1><%= @style %></h1>

<p>
	<%= @style.description %>
</p>

<h2>Beers</h2>

<ul>
    <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery, beer.brewery %></li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_style_path(@style) if current_user %>
<%= "|" if current_user %>
<%= link_to 'Back', styles_path %>
<%= "|" if current_is_admin %>
<%= link_to 'Destroy Style', @style, method: :delete, data: { confirm: 'Are you sure?' } if current_is_admin %>