<p id="notice"><%= notice %></p>

<h1> <%= @beer %> </h1>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<% if @beer.ratings.empty? %>
  <p>Beer has not yet been rated!</p>
<% else %>
  <p>
    Beer has been rated <%= pluralize(@beer.ratings.count, "time") %>, average score <%= @beer.average_rating %>
  </p>
<% end %>

<% if current_user %>

  <h4>Rate this beer</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    Score: <%= f.number_field :score %>
    <%= f.submit %>
  <% end %>

<% end %>
<br>
<%= link_to 'Back', beers_path, class:"btn white-text btn-info" %>
<%= "|" if current_is_admin %>
<%= edit_and_destroy_buttons(@beer) %>
