<h1>Search for Places</h1>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search", class:"btn btn-primary" %>
<% end %>

<% if @places %>
<h1><%= @places.first.city %></h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Address</th>
        <th>Overall score</th>
      </tr>
    </thead>

    <tbody>
    <% @places.each_with_index do |place, index| %>
      <tr>
        <td><%= link_to place.name, "places/#{place.id}" %></td>
        <td><%= place.status %></td>
        <td><%= place.street %></td>
        <td><%= place.overall %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>